# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

# React 원본 개발 파일 무시 (넣지 않을 거니까)
../client/
../src/
../public/

# 빌드 산출물 제외 (넣을 dist 제외하지 말 것!)
!dist/

# 환경 변수 파일
.env
